extends ./template.jade

block style
  link(rel='stylesheet', href='/css/index.css')

block body
  header.nav#nav
    a.title(href='/') mallard
    div.buttons
      a(href='#about') About
      a(href='#signin') Sign In
  div.content#content
    div.background
      div.cover
      div.img.shown(style='background-image: url(/image/rain-steam-and-speed.jpg)')
      div.img(style='background-image: url(/image/parklife.jpg)')
      div.img(style='background-image: url(/image/the-grand-budapest-hotel.jpg)')
      div.img(style='background-image: url(/image/tamako-love-story.jpg)')
    div.description
      div.title Share your holy experience

block script
  script(src='/js/index.js')
