<header id="nav" class="nav">
  <a href="/" class="title">mallard</a>
  <div class="buttons">
    <a href="#about">About</a>
    <a href="#signin">Sign In</a>
  </div>
</header>

<div id="content" class="content" style="height: 564px;">
  <div class="background">
    <div class="cover"></div>
    <div style="background-image: url(/assets/rain-steam-and-speed.jpg)" class="img"></div>
    <div style="background-image: url(/assets/parklife.jpg)" class="img"></div>
    <div style="background-image: url(/assets/the-grand-budapest-hotel.jpg)" class="img"></div>
    <div style="background-image: url(/assets/tamako-love-story.jpg)" class="img shown"></div>
  </div>

  <div class="description">
    <div class="title">Share your holy experience</div>
  </div>

  <div class="signin">
    <div class="container">
      <form class="form-signin">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>

<script src="/assets/index.js"></script>
