<header id="nav" class="nav">
  <a href="/" class="title">mallard</a>
  <div class="buttons">
    <a href="#about">About</a>
    <a href="#signup">Sign Up</a>
    <a href="#signin">Sign In</a>
    <a href="#signout">Sign Out</a>
  </div>
</header>

<div id="content" class="content" style="height: 564px;">
  <div class="background">
    <div class="cover"></div>
    <div style="background-image: url(/assets/rain-steam-and-speed.jpg)" class="img"></div>
    <div style="background-image: url(/assets/parklife.jpg)" class="img"></div>
    <div style="background-image: url(/assets/the-grand-budapest-hotel.jpg)" class="img"></div>
    <div style="background-image: url(/assets/tamako-love-story.jpg)" class="img shown"></div>
  </div>

  <div class="description">
    <div class="title">Share your holy experience</div>
  </div>

  <div class="signin">
    <div class="container">
      <%= render template: "accounts/new" %>
    </div>
  </div>
</div>

<script src="/assets/index.js"></script>
